<!DOCTYPE html>
<html>
  <head>
    <title>Realtime with Socket.io</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    Realtime with Socket.io to make TeacherChat
  </body>
</html>
